<div class="container">
  <form>
      <div class="container-fluid">
          <h4>Your credentials:</h4>
          <div class="form-group">
            <label for="name">Login</label>
            <input #username type="text" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input #password (key)="verifyStrength(password.value)" type="password" class="form-control" id="password" required>
          </div>
          <button id="btn-login" type="button" class="btn btn-primary" (click)="onLogin(username.value, password.value)">Login</button>
          <button id="btn-register" type="button" class="btn btn-secondary" (click)="doRegister(username.value, password.value)">Register</button>
        </div>
  </form>
</div>
